@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Qwitcher+Grypen:wght@400;700&display=swap');

:root {
    max-width: 600px;
    margin: auto;
    background: rgb(255, 244, 197);
    font-family: 'Open Sans';
    --defrad: 20px;
    --maincol: rgb(255, 244, 197);
    --accentcol:rgb(114, 30, 76);
}

header {
    text-align: center;

}
h1{
    font-family: "Qwitcher Grypen", cursive;
    font-size: 60px;
}

#hero img {
    border-radius: var(--defrad);
}

#weather img {
    max-height: 15vw;
    display: block;
    margin: auto;
}
h1::after{
    content: ' - For Lovers';
    color: var(--accentcol);
}
h2 {
    text-align: center;
}

.ms {
    border: solid;
    border-radius: var(--defrad);
    margin: 20px 0;
}

.info {
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.info p {
    padding: 0 5%;
}

.info> :first-child {
    text-align: right;
}

footer {
    text-align: center;
}