@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');



img {
    max-width: 20rem;

}

h1,
h2 {
    font-family: 'Fascinate Inline';
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
}

#nav {

    display: none;
    background-color: rgb(255, 177, 177);
    padding: 10px 20%;
}
body{
    margin: auto;
    max-width: 1500px;
}
a:hover {

    background-color: white;
}

nav a {
    margin: auto;
    padding: 10px 8%;
    font-size: 20px;
    text-decoration: none;
}

#imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    text-align: center;
}

#img div {
    width: 20rem;
    margin: auto;

}

button {
    margin: auto;
}

footer {

    text-align: center;
}