img {
    max-width: 150px;

}

ul {
    list-style: none;
}
h1{text-align: center;}
#nav {
    display: none;
}
nav a{
    margin: auto;
}

#imgs {
    display: flex;
    flex-wrap: wrap;
}

main {
    text-align: center;
}

#img div {
    width: 200px;
    margin: auto;

}
button{
    margin: auto;
}
footer {

    text-align: center;
}